- if !(@content_template ||= @page.template).blank?
  - @index = 0
  = hidden_field_tag "part[0][name]", "body", :id => "part_0_name"
  = hidden_field_tag "part[0][filter_id]", nil, :id => "part_0_filter_id"
  = hidden_field_tag "part[0][content]", @content_template.content, :id => "part_0_content"
  - if defined?(ConcurrentDraftExtension)
    = hidden_field_tag "part[0][draft_content]", @content_template.content, :id => 'part_0_draft_content'
  = hidden_field 'page', 'template_id', :value => @content_template.id
  = hidden_field 'page', 'layout_id', :value => @content_template.layout_id
  = hidden_field 'page', 'status_id'
  - unless @content_template.page_class_name.blank?
    = hidden_field 'page', 'class_name', :value => @content_template.page_class_name
  - @content_template.template_parts.each_with_index do |part, index|
    = render :partial => "edit_template_part", :object => part, :locals => {:index => index + 1}
- else
  = defaults['edit_page_parts']
  = hidden_field 'page', 'template_id', :value => nil
